<!DOCTYPE html>
<html>
    <meta charset="utf-8">
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.12.2.min.js"></script>
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script src="http://d3js.org/d3.v4.min.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script src="/script/force_tts_demo.js"></script>
        <link rel="stylesheet" href="css/styles.css">
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <title>Text Animation: Demo Page</title>
    </head>
    <body>
        <div id="header"  style="padding-bottom: 30px; background-color: #f5f8f2; border-radius: 10px">
            <h1 id="pageTitle" style="vertical-align: middle; display: inline-block; margin-left: 20px; text-shadow: 4px 4px #f6e9a1; color: #3c7b9a">Text Animation</h1>
            <h3 id="version" style="vertical-align: middle; display: inline-block; margin-left: 20px; text-shadow: 2px 2px #f6e9a1; color: #3c7b9a">version 0.8B</h3>
            <div style="vertical-align: middle; margin-top: 20px; margin-left: 700px; width: auto; height: auto; display: inline-block">
                <button id="btn-mainpage" class="btn btn-default btn-lg" style="vertical-align: middle; display: inline-block; width: 100px; height: 100px; border-radius: 50px; font-family: 'Mali'; margin-bottom: unset">Main<br>Page</button>
                <button id="btn-help" class="btn btn-default btn-lg" style="vertical-align: middle; display: inline-block; width: 100px; height: 100px; border-radius: 50px; font-family: 'Mali'; margin-bottom: unset">HELP</button>
            </div>
        </div>
        <div id="section">
            <text class="optionTitleFont">Input File Info.</text>
            <div id="Basic_infoBox" class="optionDescriptionFont infobox">
                <table style="border: 0">
                    <tr>
                        <td width="80px">문서명</td>
                        <td><input id="opt-title" type="text" value="Null" class="basic-data" disabled></td>
                    </tr>
                    <tr>
                        <td>문장 수</td>
                        <td><input id="opt-line" type="text" value="Null" class="basic-data" disabled></td>
                    </tr>
                    <tr>
                        <td>단어 수</td>
                        <td><input id="opt-word" type="text" value="Null" class="basic-data" disabled></td>
                    </tr>
                    <tr>
                        <td>주제어 수</td>
                        <td><input id="opt-keyword" type="text" value="Null" class="basic-data" disabled></td>
                    </tr>
                </table>
            </div>
            <hr class="garo">
            <text class="optionTitleFont">Graph Info.</text>
            <div id="Graph_infoBox" class="optionDescriptionFont infobox">
                <table style="border: 0; border-style: none">
                    <tr>
                        <td width="170px">Vertex 수</td>
                        <td><input id="graph-vertex" type="text" value="Null" class="graph-data" size="7" disabled></td>
                    </tr>
                    <tr>
                        <td>Edge 수</td>
                        <td><input id="graph-edge" type="text" value="Null" class="graph-data" size="7" disabled></td>
                    </tr>
                </table><br>
                <table border="1">
                    <tr>
                        <th width="80px" bgcolor="#f8bc9c" style="font-weight: normal"></th>
                        <th width="55px" bgcolor="#f8bc9c" style="font-weight: normal">MAX</th>
                        <th width="55px" bgcolor="#f8bc9c" style="font-weight: normal">AVG</th>
                        <th width="55px" bgcolor="#f8bc9c" style="font-weight: normal">MIN</th>
                    </tr>
                    <tr>
                        <th width="80px" bgcolor="#f8bc9c" style="font-weight: normal">Vertex Weight</th>
                        <th id="v-weight-max" class="weight-data" width="55px"></th>
                        <th id="v-weight-avg" class="weight-data" width="55px"></th>
                        <th id="v-weight-min" class="weight-data" width="55px"></th>
                    </tr>
                    <tr>
                        <th width="80px" bgcolor="#f8bc9c" style="font-weight: normal">Edge Weight</th>
                        <th id="e-weight-max" class="weight-data" width="55px"></th>
                        <th id="e-weight-avg" class="weight-data" width="55px"></th>
                        <th id="e-weight-min" class="weight-data" width="55px"></th>
                    </tr>
                </table>
            </div>
            <hr class="garo">
            <text class="optionTitleFont">Drawing Method</text>
            <div id="DM_infoBox" class="optionDescriptionFont infobox">
                <form action="">
                    <input id="radio-graph" type="radio" name="drawMode" value="graph" checked>Graph
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;    &nbsp;
                    <input id="radio-mst" type="radio" name="drawMode" value="mst"><span style="padding-right: 8px">MST
                    </span><br>
                    <input id="check-single" type="checkbox" name="single" value="single" checked>Remove single-vertex
                </form>
            </div>
            <hr class="garo">
            <text class="optionTitleFont">Control Option</text>
            <div id="CO_Box" class="optionDescriptionFont infobox">
                <!-- vertex 개수 조절 옵션 -->
                <form action="">
                    <text>Vertex 수: &nbsp;</text>
                    <select id="nodeNrange" class="control-data" style="width: 90px" onchange="showCalculatedEdgeNum()">
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                        <option value="13">13</option>
                        <option value="14">14</option>
                        <option value="15">15</option>
                        <option value="16">16</option>
                        <option value="17">17</option>
                        <option value="18">18</option>
                        <option value="19">19</option>
                        <option value="20" selected="selected">20</option>
                        <option value="21">21</option>
                        <option value="22">22</option>
                        <option value="23">23</option>
                        <option value="24">24</option>
                        <option value="25">25</option>
                        <option value="26">26</option>
                        <option value="27">27</option>
                        <option value="28">28</option>
                        <option value="29">29</option>
                        <option value="30">30</option>
                    </select>
                    <input id="nonsingle-vertex-num" class="control-data" type="text" style="width: 50px" value="" disabled>
                    <font size="1">(싱글X)</font>
                </form>
                <!-- link 개수 조절 옵션 -->
                <form action="">
                    <text>Edge 수: &nbsp;  &nbsp;</text>
                    <select id="linkNrange" class="control-data" style="width: 90px" onchange="showCalculatedEdgeNum()">
                        <option value="1" selected="selected">0.5*N</option>
                        <option value="2">N-1</option>
                        <option value="3">1.5*N</option>
                        <option value="4">2*N</option>
                    </select>
                    <input id="calculated-edge-num" class="control-data" type="text" style="width: 50px" value="10" disabled><br>
                    <text>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(N: vertex 수)</text>
                </form>

                <script>
                    function showCalculatedEdgeNum() {
                        var newValue;
                        var target1 = document.getElementById("nodeNrange");
                        nodeNum = target1.options[target1.selectedIndex].value;
                        var target2 = document.getElementById("linkNrange");
                        linkNum = target2.options[target2.selectedIndex].value;
                        switch (linkNum) {
                            case '1':
                                newValue = Math.floor(nodeNum / 2);
                                break;
                            case '2':
                                newValue = nodeNum - 1;
                                break;
                            case '3':
                                newValue = Math.floor(nodeNum * 1.5);
                                break;
                            case '4':
                                newValue = nodeNum * 2;
                                break;
                        }
                        document.getElementById("calculated-edge-num").value = newValue;
                        redrawGraph();
                    }
                </script>
            </div>
        </div>
        <div id="graph-div">
            <div id="graph-info" style="padding-left: 30px; padding-top: 20px">
                <table border="0">
                    <tr>
                        <td id="graph-title" class="graph-info-data"></td>
                        <td id="graph-line" class="graph-info-data"></td>
                        <td id="graph-dm" class="graph-info-data"></td>
                        <td id="graph-word" class="graph-info-data"></td>
                        <td id="graph-keyword" class="graph-info-data"></td>
                        <td id="graph-vn" class="graph-info-data"></td>
                        <td id="graph-en" class="graph-info-data"></td>
                        <td id="frame" class="graph-info-data"></td>
                    </tr>
                </table>
            </div>
            <graph id="graph" class="graph"></graph>
        </div>
        <div id="tts-div">
            <text class="optionTitleFont">Animation</text><br><br>
            <div id="Animation_Box" class="optionDescriptionFont infobox" style="padding-top: 0; pading-bottom: 0">
                <font>Unit:&nbsp;</font>
                <select id="sRange-unit" class="control-data" style="width: 80px" onchange="setRangeUnit()">
                    <option value="5">5</option>
                    <option value="10">10</option>
					<option value="20" selected="selected">20</option>
                    <option value="40">40</option>
                    <option value="60">60</option>
                    <option value="80">80</option>
                    <option value="100">100</option>
                    <option value="150">150</option>
                    <option value="200">200</option>
                    <option value="250">250</option>
                    <option value="300">300</option>
                    <option value="350">350</option>
                    <option value="400">400</option>
                </select><br>
                <p>
                    <font>Range: </font>
                    <font color="#005eff" style="font-weight: bold; font-style: italic">line </font>
                    <input id="amount1" onkeyup="setSRange()" type="text" style="width: 25%; border: 0; color: #005eff; font-weight: bold; font-size: 15px; font-style: italic; text-align: center">
                    <font color="#005eff" style="font-weight: bold; font-style: italic"> - line </font>
                    <input id="amount2" onkeyup="setSRange()" type="text" style="width: 25%; border: 0; color: #005eff; font-weight: bold; font-size: 15px; font-style: italic; text-align: center">
                </p>
                <div id="slider-range"></div>
                <table id="slider-headNtail" border="0" width="100%">
                    <tr>
                        <td id="sRange-head" style="text-align: left"></td>
                        <td id="sRange-tail" style="text-align: right"></td>
                    </tr>
                </table>
                <br><br>
                <div style="text-align: center">
                    <div style="width: auto; height: auto; display: inline-block; vertical-align: middle">
                        <button id="btn-animate" class="btn btn-default btn-lg" onclick="showAnimation()" style="width: 100px; height: 100px; border-radius: 50px; font-family: 'Mali'; margin-bottom: unset">Animate</button>
                    </div>
                    <div style="width: auto; height: auto; display: inline-block; vertical-align: middle">
                        <button id="btn-next" class="btn btn-default btn-lg" onclick="ani_loop2()" style="margin-bottom: unset; width: 70px; height: 70px; border-radius: 35px; font-family: 'Mali'">
                            <img style="width: 100%; height: 100%" src="https://png.icons8.com/ios/100/f8bc9c/end-filled.png">
                        </button><br>
                        <text style="font-family: 'Mali'">Next</text>
                    </div>
                    <div style="width: auto; height: auto; display: inline-block; vertical-align: middle">
                        <button id="btn-pause" class="btn btn-default btn-lg" onclick="ani_pause()" style="margin-bottom: unset; width: 70px; height: 70px; border-radius: 35px; font-family: 'Mali'">
                            <img style="width: 100%; height: 100%" src="https://png.icons8.com/ios/100/f8bc9c/pause-filled.png">
                        </button><br>
                        <text style="font-family: 'Mali'">Pause</text>
                    </div>
                    <div style="width: auto; height: auto; display: inline-block; vertical-align: middle">
                        <button id="btn-resume" class="btn btn-default btn-lg" onclick="ani_resume()" style="margin-bottom: unset; width: 70px; height: 70px; border-radius: 35px; font-family: 'Mali'">
                            <img style="width: 100%; height: 100%" src="https://png.icons8.com/ios/100/f8bc9c/resume-button-filled.png">
                        </button><br>
                        <text style="font-family: 'Mali'">Resume</text>
                    </div>
                </div>
            </div>
            <hr class="garo">
            <text class="optionTitleFont">Script</text><br><br>
            <div id="Script_Box" class="optionDescriptionFont infobox" style="padding-top: 0">
                <div id="progress-div">
                    <div id="progressBar">
                        <div id="progress-val"></div>
                    </div>
                </div><br>
                <textarea id="part-text" cols="40" rows="10" style="height: 250px; border: 0; background: #f2f2f2" disabled></textarea>
                <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
            </div>
        </div>
        <a href="https://icons8.com">Icon pack by Icons8</a>
        <script>
            $(document).ready(function () {
                $("#btn-animate").hover(function () {
                    $(this).css("background-color", "#f38c55");
                    $(this).css("color", "#fff");
                    $(this).css("border-color", "#fff");
                }, function () {
                    $(this).css("background-color", "#ffffff");
                    $(this).css("color", "#172d37");
                    $(this).css("border-color", "#c9d1d4");
                });
                $("#btn-mainpage").hover(function () {
                    $(this).css("background-color", "#f38c55");
                    $(this).css("color", "#fff");
                    $(this).css("border-color", "#fff");
                }, function () {
                    $(this).css("background-color", "#ffffff");
                    $(this).css("color", "#172d37");
                    $(this).css("border-color", "#c9d1d4");
                });
                $("#btn-help").hover(function () {
                    $(this).css("background-color", "#f38c55");
                    $(this).css("color", "#fff");
                    $(this).css("border-color", "#fff");
                }, function () {
                    $(this).css("background-color", "#ffffff");
                    $(this).css("color", "#172d37");
                    $(this).css("border-color", "#c9d1d4");
                });
            });
        </script>
    </body>
</html>
